<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipbeja.bibliotecasantiagomaior">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_trabalho_simples"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_trabalho_simples"
        android:supportsRtl="true"
        android:theme="@style/Theme.BibliotecaSantiagoMaior.Light.Default">
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_home"
            android:theme="@style/Theme.BibliotecaSantiagoMaior.Light.Default">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_register"
            android:theme="@style/Theme.BibliotecaSantiagoMaior.Light.Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_login"
            android:theme="@style/Theme.BibliotecaSantiagoMaior.Light.Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BibliotecaSantiagoMaior.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>